:root {
  font-family: 'Geologica', sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}


a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  flex-direction: column;
}
.Picture--pic {
  height: 240px;
  width: 350px;
  box-shadow: #242424;
}
.About--about {
  color: rgb(139, 139, 139);
}

.About--h4 {
  font-size: 1.0em;
  margin-top: 5px;
  color: rgb(176, 166, 166);

}

.About--p {
  max-width: 250px;
  font-family: 'Geologica', sans-serif;
  color: rgb(211, 211, 211);
  padding: 10px 0;
}

.card {
  width: 350px;
  background-color: rgb(49, 49, 49);
  color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  text-align: center;
  max-height: fit-content;
}

h1 {
  font-size: 2.2em;
  line-height: 1.1;
  color: #bdbdbd;
  margin: 5px;
  margin-top: 20px;
}

h3 {
  font-size: 1.1em;
  line-height: 1.1;
  margin: 5px;
}

h4 {
  font-size: 0.8em;
  line-height: 1.1;
  margin: 5px 0;
}

.Name--info {
  height: 80px;
  flex-direction: column;
  display: flex;
  color: rgb(188, 196, 196);
  font-family: "Geologica", sans-serif;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
